.products {
    display: flex;
    border: solid pink; 
    margin: 1em;

}
.list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center
    
}

.des {
    text-align: center
}
