.d-side-bar{
    /* width: 150px; */
    min-height: 100%;
    background: linear-gradient(to bottom, #F433AB, white);
    float:left;
    margin-top: 3em;
}
aside{
    padding:20px;
}
.d-welcome{
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}
.d-thumbnail{
    width: 100px;
    height: 100px;
    /* background-color: #F433AB; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding-top:5em;
}
.d-img{
    width: auto;
    height:auto;
    max-width: 100px; 
    max-height: 150px;
    padding-bottom: 5px;
    /* border-radius: 50%; */
}
.d-profile-button{
    padding: 5px;
    border: none;
    border-radius: .3em;
    width: 100px;
    /* margin-top: 20px; */
    background-color: #191716;
    color: #FFFFFA;
    opacity: .9;
    cursor: pointer;

}
.d-profile-button:hover{
    background-color: #F433AB;
    transition: background-color .5s ease-in;
}

@media only screen and (max-width: 768px) {
    .d-side-bar {
        display: none;
    }
}







