

.d-posts-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.d-posts-content{
    background-color: white;
    padding:1em;
    color: black;
    font-size: 1.5em;
}
.d-userhome-header{
    background: black;
    padding:1em;
    width:100%;
    position: relative;

}
.d-userhome-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top:3.5em;
    width:100%;
}
.d-connect{
    color:white;
    font-size: 6em;
}
.d-inspire{
    color:#F433AB;
    font-size: 6em;
}
.d-thrive{
    color:white;
    font-size: 6em;

}
@media only screen and (max-width: 885px) {
    .d-connect, .d-inspire, .d-thrive{
        font-size: 4em;
    }
}
@media only screen and (max-width: 600px) {
    .d-connect, .d-inspire, .d-thrive{
        font-size: 3em;
    }
}
@media only screen and (max-width: 480px) {
    .d-connect, .d-inspire, .d-thrive{
        font-size: 2em;
    }
}
