/*import Ant Design CSS for global Usage*/

@import '~antd/dist/antd.css';

body {
  min-height: 100vh;
}

.d-main-wrapper{
  display:flex;
  flex-direction: row;
  height:100%;
}
/* Changed Padding and Width. -Ben  */
.d-routes{
  flex:1;
  background: #FFFFFA;
  /* width:75%; */
  /* padding: 2em; */
  /* padding: 5em; */
  width:100%;
  margin-top: 5em
}

/* antD Improvements */
.ant-btn:hover, .ant-btn:focus {
  color: #444;
  border-color: #444;
}




