/*import Ant Design CSS for global Usage*/

@import '~antd/dist/antd.css';

.d-main-wrapper{
  display:flex;
  flex-direction: row;
}
/* Changed Padding and Width. -Ben  */
.d-routes{
  flex:1;
  background: #FFFFFA;
  width:75%;
  /* padding:5px; */
  padding-top: 4em;
  padding-right: 0px;
}

/* antD Improvements */
.ant-btn:hover, .ant-btn:focus {
  color: #444;
  border-color: #444;
}




